/* Left */
.con-left .animated-bg-text {
  height: 34px;
  margin: 8px 0;
  margin-right: 10px;
}

/* Right */
.con-right .animated-bg.first {
  width: 400px;
  height: 30px;
  margin-bottom: 50px;
}

.con-right .animated-bg.second,
.con-right .animated-bg.third {
  width: 80%;
  height: 200px;
  margin-bottom: 30px;
}
