<div class="row d-flex justify-content-center">
  <div class="col-12 col-lg-8">
    <div id="con-ht-01" class="con-section sections">

      <div class="con-content contents">

        <div class="d-flex justify-content-center">
          <div class="col-12">
            <div class="box box-primary">

              <div class="box-header with-border">
                <h2 class="py-3 text-center" id="wgt-03">
                  Compose New Request
                </h2>
              </div>

              <div class="d-flex justify-content-center mb-3">
                <div class="message text-center" *ngIf="message">{{message}}</div>
              </div>

              <div class="box-body">
                <div class="form-group">
                  <input class="form-control" name="title" placeholder="Title:" [(ngModel)]="requestBody.title">
                </div>

                <div class="form-group">
                  <input class="form-control" name="subject" placeholder="Subject:" [(ngModel)]="requestBody.subject">
                </div>

                <div class="form-group">
                  <textarea class="form-control" name="body" cols="20" rows="10" [(ngModel)]="requestBody.description">
                </textarea>
                </div>

              </div>

              <div class="box-footer">
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary" (click)="onSubmit()">
                    <i class="fa fa-envelope-o"></i>
                    Send
                  </button>
                </div>

                <button type="reset" class="btn btn-default" (click)="doDiscard()"><i class="fa fa-times"></i>
                  Discard</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>