.message {
  background: var(--primary-color);
  padding: 12px 0;
  color: #fff;
  width: 80%;
  font-weight: 700;
}

button.submit {
  background: var(--primary-color);
  font-weight: 700;
  color: #fff;
}


/* Left Container */
.con-left .con-requests .con-list {
  height: 48vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.con-left .con-requests .con-list li {
  border-bottom: 1px solid rgb(237 227 227);
  padding: 12px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.con-left .con-requests .con-list li.active {
  background: var(--primary-color) !important;
  color: #fff !important;
  font-weight: 600 !important;
}

.con-left .con-requests .con-list li.new-response {
  font-weight: 700;
  color: #333;
}

.con-left .con-requests .con-list li.seen {
  font-weight: 400;
  color: #333;
  background: var(--ash-color-02);
}

.con-left .con-requests .con-new {
  padding: 20px 0;
}

.con-left .con-requests .con-new .con-btn {
  color: #fff;
  font-weight: 700;
  padding: 10px 26px;
  border-radius: .5rem;
  background: var(--primary-color);
}


/* Right Container */
.image-default {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  flex-direction: column;
}

.image-default .con-img {
  width: 200px;
}

.image-default .text {
  width: 230px;
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(155, 155, 155);
}

.con-right .con-title {
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  padding: 0 0 14px 0;
}

.con-right .con-title i {
  color: #333;
  padding: 10px;
  border-radius: .25rem;
}

.con-right .con-title i:hover {
  background: var(--ash-color-02);
}

.con-right .con-request .header,
.con-right .con-response .header {
  font-weight: 600;
  font-size: 1.4rem;
}

.con-right .con-request,
.con-right .con-response {
  width: 92%;
}

.con-right .con-timestamp {
  padding: 4px 0 10px 0;
  color: rgb(102, 101, 101);
  font-size: .98rem;
}

.con-right .con-request {
  margin-bottom: 40px;
}

.con-right .con-response {
  text-align: right;
}

.con-right .con-response .no-response {
  text-align: center;
  color: rgb(168, 165, 165);
  font-weight: bold;
}


/* Media Queries */
@media (min-width:380px) {
  .con-left .con-requests .con-list {
    height: 58vh;
  }
}

@media (min-width:400px) {
  .con-left .con-requests .con-list {
    height: 62vh;
  }
}

@media (min-width:992px) {

  .con-left .con-requests .con-list li {
    padding: 12px 30px;
  }

  .con-left .con-requests .con-new {
    padding: 12px 0;
  }
}

@media (min-width: 1200px) {
  .con-left .con-requests .con-list {
    height: 57vh;
  }
}