.main-header .navbar {
  padding: 0px 20px;
}


.navbar .logo-01 h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 800;
}


.navbar-custom-menu {
  cursor: pointer;
}


@media (min-width: 992px) {
  .main-header .navbar {
    padding: 6px 20px;
  }
}