.row {
  height: 83vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-block {
  width: 140px;
}

.control-label.message {
  background: var(--primary-color);
  color: #fff;
  font-weight: 700;
  padding: 12px 30px;
  width: 80%;
}


@media (min-width:992px) {
  .btn-block {
    width: 200px;
  }

  .row {
    height: unset;
  }
}