<div class="main-row row">
  <div class="col-12 col-md-12 col-lg-4">
    <div id="con-ht-01" class="con-section sections">

      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle"
            src="https://th.bing.com/th/id/OIP.SnaHzQkVjm4QJUpRzHsXsgHaGe?pid=ImgDet&rs=1" alt="">

          <h3 class="profile-username text-center">{{credentials.name}}</h3>

          <p class="text-center">{{credentials.email}}</p>
          <p class="wgt-02 text-center color-red">{{credentials.role | titlecase}}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Account Name</b> <a class="pull-right">{{credentials.accountName}}</a>
            </li>
            <li class="list-group-item">
              <b>Account Number</b> <a class="pull-right">{{credentials.accountNumber}}</a>
            </li>
            <li class="list-group-item">
              <b>Bank</b> <a class="pull-right">{{credentials.bank}}</a>
            </li>
            <li class="list-group-item">
              <b>Phone Number</b> <a class="pull-right">{{credentials.phoneNumber}}</a>
            </li>
            <li class="list-group-item">
              <b>City</b> <a class="pull-right">{{credentials.city}}</a>
            </li>
            <li class="list-group-item">
              <b>State</b> <a class="pull-right">{{credentials.state}}</a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-8 mt-3 mt-xl-0">
    <div id="con-ht-01" class="con-section sections">
      <div class="con-content contents">

        <div>
          <div class="content-header d-flex align-items justify-content-between flex-column flex-lg-row">
            <div>
              <button [ngClass]="firstBtn" (click)="doShowHistory()">History</button>
              <button class="ms-4" [ngClass]="secondBtn" (click)="doShowSettings()">Update Account</button>
            </div>
            <div class="me-lg-5 mt-3 mt-lg-0 d-flex align-items-center" *ngIf="!toggle">
              <app-paginate [allData]="data" (returnDataEvent)="getParamsFromChild($event)">
              </app-paginate>
            </div>
            <div class="me-lg-5 mt-3 mt-lg-0 d-flex align-items-center color-red" id="wgt-02" *ngIf="toggle">
              Update Your Account
            </div>
          </div>

          <div class="content-body">
            <!-- First Section  -->
            <div class="con-first" *ngIf="!toggle">
              <ul *ngIf="!animatedBg">
                <li *ngFor="let action of actions">
                  <div>{{action.body}}</div>
                  <div>{{action.createdAt | date:'medium'}}</div>
                </li>
                <li class="wgt-02" *ngIf="actions.length < 1">You have made no actions yet</li>
              </ul>

              <div id="anime" *ngIf="animatedBg">
                <div class=" animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
                <div class="animated-bg animated-bg-text"></div>
              </div>
            </div>


            <!-- Second Section -->
            <div class="con-second" *ngIf="toggle">
              <form class="form-horizontal mt-4" (submit)="onSubmit()">

                <div class="form-group d-flex justify-content-center">
                  <div class="text-center control-label message" *ngIf="message">{{message}}</div>
                </div>

                <!-- <div class="form-group">
                  <label for="inputGroupFile01" class="col-sm-3 control-label">Display Picture</label>

                  <div class="col-sm-9">
                    <input type="file" class="form-control" id="inputGroupFile01">
                  </div>
                </div> -->

                <div class="form-group">
                  <label for="inputName" class="col-sm-3 control-label">Account Name</label>

                  <div class="col-sm-9">
                    <input type="text" name="accountName" class="form-control" id="inputName" placeholder="Account Name"
                      [(ngModel)]="credentials.accountName" (input)="clearMsg()">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputNumber" class="col-sm-3 control-label">Account Number</label>

                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="inputNumber" name="accountNumber"
                      placeholder="Account Number" [(ngModel)]="credentials.accountNumber" (input)="clearMsg()">
                  </div>
                </div>

                <div class="form-group">
                  <label for="bank" class="col-sm-3 control-label">Bank</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="bank" name="bank" placeholder="Bank Name"
                      [(ngModel)]="credentials.bank" (input)="clearMsg()">
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPhone" class="col-sm-3 control-label">Phone Number</label>

                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="inputPhone" name="phoneNumber"
                      placeholder="Phone Number" [(ngModel)]="credentials.phoneNumber" (input)="clearMsg()">
                  </div>
                </div>

                <div class="form-group">
                  <label for="city" class="col-sm-3 control-label">City</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City"
                      [(ngModel)]="credentials.city" (input)="clearMsg()">
                  </div>
                </div>

                <div class="form-group">
                  <label for="state" class="col-sm-3 control-label">State</label>

                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="state" name="state" placeholder="State"
                      [(ngModel)]="credentials.state" (input)="clearMsg()">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger mt-3">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>