.main-row {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.message {
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  padding: 14px 30px;
}

.content-header {
  padding: 20px 0;
}

.content-header button {
  font-weight: 700;
  padding: 10px 20px;
  border-radius: .5rem;
  color: var(--primary-color);
  background: var(--ash-color-01);
}

.content-header button.active {
  background: var(--primary-color);
  color: #fff;
}

.content-body {
  height: 58vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-body .con-first ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  border-bottom: 1px solid rgb(228, 225, 225);
}

.content-body .con-first ul li:hover {
  background: var(--ash-color-02);
}

.profile-user-img {
  border: 0
}


/* Media Queries */
@media (min-width:992px) {
  .main-row {
    height: 87vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .content-header button {
    padding: 10px 30px;
  }

  .content-body {
    height: 60vh;
  }

  .content-body .con-first {
    padding: 30px 0;
  }

  .content-body .con-first .header {
    padding: 14px 50px 10px 0;
    text-align: right;
  }
}

@media (min-width:1200px) {
  .main-row {
    height: unset;
  }
}