<div class="row">
  <div class="col-12">

    <!-- Left Section-->
    <div class="con-section left">

      <div class="section" *ngIf="checkUser()">

        <div class="con-header d-flex align-items-center">
          <button class="first" [ngClass]="firstBtn" (click)="doShowFirstRow()">
            My Apartments
          </button>
          <button class="second" [ngClass]="secondBtn" (click)="doShowSecondRow()">
            Explore
          </button>
        </div>

        <!-- Apartments -->
        <div class="con-row">
          <div class="row first" *ngIf="!toggle">
            <div class="col-12">
              <div class="box">
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>No.</th>
                        <th>Location</th>
                        <th>Date of purchase</th>
                        <th>Number of Units</th>
                        <th>Current Value (N)</th>
                        <th>Current Value (%)</th>
                        <th>Rent's due</th>
                      </tr>

                      <tr *ngIf="!animatedBg">
                        <td>1</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-success">12%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                      <tr *ngIf="!animatedBg">
                        <td>2</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-danger">12%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                      <tr *ngIf="!animatedBg">
                        <td>3</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-success">12%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                      <tr *ngIf="!animatedBg">
                        <td>4</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-danger">12%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                      <tr *ngIf="!animatedBg">
                        <td>5</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-success">12%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                      <tr *ngIf="!animatedBg">
                        <td>6</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-danger">6%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                      <tr *ngIf="!animatedBg">
                        <td>7</td>
                        <td>Surulere, Lagos</td>
                        <td>August 15</td>
                        <td>2</td>
                        <td>N50, 000, 000</td>
                        <td>
                          <span class="label label-primary">12%</span>
                        </td>
                        <td>Jan 12</td>
                      </tr>
                    </tbody>

                  </table>
                </div>

                <div id="anime" *ngIf="animatedBg">
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                  <div class="animated-bg animated-bg-text"></div>
                </div>
              </div>
            </div>
          </div>


          <!-- Explore -->
          <div class="row second explore" *ngIf="toggle">
            <div>
              <div class="con-card" *ngIf="!animatedBg">
                <div class="cards position-relative mb-4" *ngFor="let property of properties">
                  <div *ngIf="!property.isPrivate" class="col-lg-4 col-md-6">
                    <div class="img">
                      <img src="assets/images/{{property.image}}" alt="">
                    </div>
                    <div class="data" id="wgt-02">
                      <div class="title py-2">
                        {{property.name | titlecase}}
                      </div>
                      <a data-bs-toggle="modal" href="#display-property" role="button">
                        <button class="cta" (click)="getPropertyId(property.id)">
                          See More
                        </button>
                      </a>
                    </div>
                    <div id="wgt-02" class="price position-absolute px-3 py-2">
                      {{property.ROIEstimate}}%
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <a routerLink="/dashboard/co-own" *ngIf="!animatedBg">
              <button class="cta m-4 px-5 py-2 rounded pull-right" id="wgt-02">
                View All
              </button>
            </a>

            <div id="anime" *ngIf="animatedBg">
              <div class="items mb-4 col-12 col-lg-4 col-md-6 ">
                <div class="info d-flex align-items-center">
                  <div class="img animated-bg animated-bg-text">
                  </div>
                  <div class="data d-flex align-items-center flex-column">
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <button class="animated-bg animated-bg-text "></button>
                  </div>
                </div>
              </div>

              <div class="items mb-4 col-12 col-lg-4 col-md-6 ">
                <div class="info d-flex align-items-center">
                  <div class="img animated-bg animated-bg-text">
                  </div>
                  <div class="data d-flex align-items-center flex-column">
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <button class="animated-bg animated-bg-text "></button>
                  </div>
                </div>
              </div>

              <div class="items mb-4 col-12 col-lg-4 col-md-6 ">
                <div class="info d-flex align-items-center">
                  <div class="img animated-bg animated-bg-text">
                  </div>
                  <div class="data d-flex align-items-center flex-column">
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <button class="animated-bg animated-bg-text "></button>
                  </div>
                </div>
              </div>

              <div class="items mb-4 col-12 col-lg-4 col-md-6 ">
                <div class="info d-flex align-items-center">
                  <div class="img animated-bg animated-bg-text">
                  </div>
                  <div class="data d-flex align-items-center flex-column">
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <button class="animated-bg animated-bg-text "></button>
                  </div>
                </div>
              </div>

              <div class="items mb-4 col-12 col-lg-4 col-md-6 ">
                <div class="info d-flex align-items-center">
                  <div class="img animated-bg animated-bg-text">
                  </div>
                  <div class="data d-flex align-items-center flex-column">
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <button class="animated-bg animated-bg-text "></button>
                  </div>
                </div>
              </div>

              <div class="items mb-lg-3 col-12 col-lg-4 col-md-6 ">
                <div class="info d-flex align-items-center">
                  <div class="img animated-bg animated-bg-text">
                  </div>
                  <div class="data d-flex align-items-center flex-column">
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <div class="title animated-bg animated-bg-text ">
                    </div>
                    <button class="animated-bg animated-bg-text "></button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modals -->
<app-property-modal [data]="data"></app-property-modal>