/* Section */

.con-section {
  background: #fff;
  border-radius: 1.4rem;
  padding: 20px 18px;
}

.con-header {
  margin-bottom: 30px;
}

.con-header .first,
.con-header .second {
  font-weight: 700;
  padding: 10px 26px;
  border-radius: .5rem;
  margin-right: 20px;
  color: var(--primary-color);
  background: var(--ash-color-01);
}

.con-header .active {
  background: var(--primary-color);
  color: #fff;
}

.con-section .section .con-row {
  overflow-y: auto;
  overflow-x: hidden;
  height: 62vh;
}

td span.label {
  padding: 4px 10px;
  font-size: 1rem;
}


/* Explore */
.explore .con-card {
  filter: brightness(90%);
}

.con-card .cards {
  margin-bottom: 40px;
}

.con-card .cards img {
  height: 300px;
  border-radius: .6rem;
}

.con-card .cards .price {
  top: 30px;
  right: 30px;
  background: #fff;
  color: var(--primary-color);
}

.con-card .data {
  font-size: 1.4rem;
}

.cta {
  color: #fff;
  font-size: 1rem;
  background: var(--primary-color);
  padding: 6px 18px;
}

/* Sold-Out Styling */
img.sold-out-img {
  filter: brightness(20%);
}

.sold-out-text {
  position: absolute;
  border: 2px white solid;
  color: white;
  padding: 20px 30px;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Media Queries */
@media (min-width:380px) {
  .con-section .section .con-row {
    height: 68vh;
  }
}

@media (min-width:400px) {
  .con-section .section .con-row {
    height: 72vh;
  }
}

@media (min-width: 992px) {
  .con-section {
    height: 87vh;
    padding: 40px 50px;
  }

  .con-header .first,
  .con-header .second {
    margin-right: 40px;
  }

  .con-section .section .con-row {
    height: 60vh;
  }
}

@media (min-width: 1200px) {
  .con-section {
    height: 80vh;
    padding: 40px 50px;
  }

  .con-header .first,
  .con-header .second {
    margin-right: 40px;
  }

  .con-section .section .con-row {
    height: 64vh;
  }
}