.modal-dialog {
  max-width: 1100px;
}

.modal-content {
  max-height: 100%;
  overflow: hidden;
}


/* Modal Header */
.modal-header {
  padding: 0;
}

.modal-content .modal-header .image {
  width: 100%;
  overflow: hidden;
  height: 330px;
  background-color: #ca2233;
  position: relative;
}

.image img.sold-out-img {
  mix-blend-mode: multiply;
}

.image .sold-out-text {
  border: 2px white solid;
  color: white;
  padding: 20px 40px 20px 40px;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Modal Body */
.modal-content .modal-body {
  padding: 10px 20px;
}

.modal-content .the-modal-body-row .con-mini-body {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-body .con-headers {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0 0 20px 0;
}

.modal-content .the-modal-body-row .heading {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin: 20px auto;
}


/* Modal Footer */
.btn.btn-primary {
  background: var(--primary-color);
  color: #fff;
  padding: 12px 24px;
  font-weight: 700;
  border: 0;
  border-radius: 0;
}

.btn.btn-primary.btn-light {
  border: 2px solid var(--primary-color);
  background: #fff;
  color: var(--primary-color);
}

.btn.btn-primary:hover {
  background: #333;
  color: #fff;
}

.the-modal-body-row .price {
  font-size: 20px;
  text-align: right;
  float: right;
  color: var(--primary-color);
  font-weight: 600;
  padding: 0 30px;
}


/* Section C */

.input-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 36px;
}

.input-style .con-input {
  width: 100%;
}

.input-style .con-select {
  width: 60%;
}

.input-style .con-input .estimate {
  font-weight: bold;
  padding: 0 30px;
}

.input-style label.side-left {
  margin-left: 40px;
  padding-top: 10px;
}