<!-- Modals -->
<div class="con-modal">

  <!-- SECTION A -->
  <!-- Initial Property Attribute -->
  <div class="modal section-a" id="display-property" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header" *ngIf="data">
          <div class="image">
            <img src="assets/images/{{data.image}}" alt="property header" [class.sold-out-img]="data.status !== 'available'">
            <span class="sold-out-text position-absolute" *ngIf="data.status !== 'available'">Sold out</span>
          </div>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <div class="row the-modal-body-row snd-body-row" *ngIf="data">
            <div class="col-12 con-top">
              <div class="col-md-6 heading">
                {{data.name}}
              </div>
              <div class="col-6 price d-none d-md-block">
                <span class="amount">{{data.costPerUnit | number}}</span> <br>per Unit
              </div>
              <div class="price-mobile wgt-02 color-red ms-3 d-block d-md-none">
                <span class="amount">{{data.costPerUnit | number}}</span>per Unit
              </div>
            </div>

            <div class="con-mini-body">
              <div class="det">
                <div class="property-type prop mb-3">
                  <span>Property Type: </span><span class="value">Single Family Home</span>
                </div>
                <div class="size prop mb-3">
                  <span>Size: </span><span class="value">{{data.size}}</span><span class="unit">ft²</span>
                </div>
                <div class="lot-size prop mb-3">
                  <span>Lot Size: </span><span class="value">{{data.size}}</span><span class="unit">ft²</span>
                </div>
                <div class="year prop mb-3">
                  <span>Year Built: </span><span class="value">{{data.yearBuilt}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!data">
            <div class="d-flex align-items-center flex-column">
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
            </div>
          </div>
        </div>


        <!-- Modal Footer -->
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#calculate-units" data-bs-toggle="modal"
            data-bs-dismiss="modal">Invest</button>
          <button class="btn btn-primary btn-light" data-bs-target="#about-property" data-bs-toggle="modal"
            data-bs-dismiss="modal">About Opportunity</button>
          <button type="button" class="btn-close close-button mt-md-0" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>

  <!-- SECTION B -->
  <!-- About Property -->
  <div class="modal section-b" id="about-property" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header" *ngIf="data">
          <div class="image">
            <img src="assets/images/{{data.image}}" alt="property header" [class.sold-out-img]="data.status !== 'available'">
            <span class="sold-out-text position-absolute" *ngIf="data.status !== 'available'">Sold out</span>
          </div>
        </div>

        <div class="modal-body">
          <div class="row the-modal-body-row snd-body-row" *ngIf="data">
            <div class="col-12 con-top">
              <div class="col-md-6 heading">
                {{data.name}}
              </div>
              <div class="col-6 price d-none d-md-block">
                <span class="amount">{{data.costPerUnit | number}}</span> <br>per Unit
              </div>
              <div class="price-mobile d-block d-md-none">
                <span class="amount">{{data.costPerUnit | number}}</span>per Unit
              </div>
            </div>

            <div class="con-mini-body">
              <div class="con-headers">
                About Opportunity
              </div>
              <p>{{data.description}}</p>
            </div>

          </div>

          <div class="row" *ngIf="!data">
            <div class="d-flex align-items-center flex-column">
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#calculate-units" data-bs-toggle="modal"
            data-bs-dismiss="modal">Invest</button>
          <button class="btn btn-primary btn-light" data-bs-target="#display-property" data-bs-toggle="modal"
            data-bs-dismiss="modal">Back</button>
          <button type="button" class="btn-close close-button mt-md-0 mt-4 " data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

      </div>
    </div>
  </div>

  <!-- SECTION C -->
  <!-- Calculate Units -->
  <div class="modal section-c" id="calculate-units" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header" *ngIf="data">
          <div class="image">
            <img src="assets/images/{{data.image}}" alt="property header" [class.sold-out-img]="data.status !== 'available'">
            <span class="sold-out-text position-absolute" *ngIf="data.status !== 'available'">Sold out</span>
          </div>
        </div>

        <!-- Body -->
        <div class="modal-body">
          <div class="row the-modal-body-row snd-body-row" *ngIf="data">
            <div class="col-12 con-top">
              <div class="col-md-6 heading">
                {{data.name}}
              </div>
              <div class="col-6 price d-none d-md-block">
                <span class="amount">{{data.costPerUnit | number}}</span> <br>per Unit
              </div>
              <div class="price-mobile wgt-02 color-red ms-3 d-block d-md-none">
                <span class="amount">{{data.costPerUnit | number}}</span>per Unit
              </div>
            </div>
            <div class="con-mini-body">
              <form class="row modal-form">
                <div class="con-headers">
                  Invest
                </div>
                <div class="input-style">
                  <div class="con-input">
                    <label for="floatingInput1">No. of Unit(s)</label>
                    <input type="number" name="unitNumber" class="form-control" id="floatingInput1"
                      [(ngModel)]="details.unitNumber" (input)="calculate()">
                  </div>
                  <label class="side-left">Units</label>
                </div>

                <div class="input-style">
                  <div class="con-input">
                    <label for="floatingInput2">Total Estimate</label>
                    <span class="estimate color-red"> {{totalCost ? (totalCost | number) : (data.costPerUnit | number)}}
                    </span>
                  </div>
                  <label class="side-left">NGN</label>
                </div>
              </form>
            </div>
          </div>

          <div class="row" *ngIf="!data">
            <div class="d-flex align-items-center flex-column">
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
              <div class="animated-bg animated-bg-text ">
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#confirm-transaction" data-bs-toggle="modal"
            data-bs-dismiss="modal" (click)="makeTransaction()">Invest</button>
          <button class="btn btn-primary btn-light" data-bs-target="#display-property" data-bs-toggle="modal"
            data-bs-dismiss="modal">Back</button>
          <button type="button" class="btn-close close-button mt-md-0 mt-4 " data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION D -->
  <!-- Confirm Transactions -->
  <div class="modal section-d" id="confirm-transaction" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header" *ngIf="isAttached">
          <div class="image">
            <img src="assets/images/{{data.image}}" alt="property header" [class.sold-out-img]="data.status !== 'available'">
            <span class="sold-out-text position-absolute" *ngIf="data.status !== 'available'">Sold out</span>
          </div>
        </div>

        <div class="modal-body" *ngIf="isAttached">
          <div class="row the-modal-body-row snd-body-row">
            <div class=" col-12 con-top">
              <div class="col-md-6 heading">
                {{data.name}}
              </div>
              <div class="col-6 price d-none d-md-block">
                <span class="amount">{{data.costPerUnit | number}}</span> <br>per Unit
              </div>
              <div class="price-mobile d-block d-md-none">
                <span class="amount">{{data.costPerUnit | number}}</span>per Unit
              </div>
            </div>

            <div class="con-mini-body">
              <div class="con-headers">
                Confirm transaction
              </div>
              <div>
                You are about to process payment for <b>{{details.unitNumber}}</b> units(s) at <b>NGN
                  {{data.costPerUnit | number}} per
                  unit</b> , for the cost
                of <b>NGN {{totalCost ? (totalCost | number) : (data.costPerUnit | number)}}</b>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer" *ngIf="isAttached">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal"
            onclick="makePayment()">Proceed</button>
          <button class="btn btn-primary btn-light" data-bs-target="#calculate-units" data-bs-toggle="modal"
            data-bs-dismiss="modal">Back</button>
          <button type="button" class="btn-close close-button mt-md-0 mt-4 " data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>

        <div class="row" *ngIf="!isAttached">
          <div class="d-flex align-items-center flex-column p-5">
            <div class="animated-bg animated-bg-text ">
            </div>
            <div class="animated-bg animated-bg-text ">
            </div>
            <div class="animated-bg animated-bg-text ">
            </div>
            <div class="animated-bg animated-bg-text ">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>