<div class="row">
  <div class="col-12">
    <div id="con-ht-01" class="con-section sections">

      <!-- Header -->
      <div class="con-header headers">
        <h2 id="wgt-02" class="color-red">Apartments You Co-Own</h2>
      </div>


      <!-- Content -->
      <div class="con-content contents">

        <div class="con-card" id="con-card">
          <div class="items position-relative mb-lg-3 col-12 col-lg-4">
            <div class="info d-flex align-items-center">
              <div class="img">
                <img src="assets/images/apartments.png" alt="">
              </div>
              <div class="data" id="wgt-02">
                <div class="title">
                  Jenkins <br /> Apartment
                </div>
                <button class="cta">
                  See More
                </button>
              </div>
            </div>
            <div id="wgt-02" class="price position-absolute">
              40%
            </div>
          </div>

          <div class="items position-relative mb-lg-3 col-12 col-lg-4">
            <div class="info d-flex align-items-center">
              <div class="img">
                <img src="assets/images/apartments.png" alt="">
              </div>
              <div class="data" id="wgt-02">
                <div class="title">
                  Jenkins <br /> Apartment
                </div>
                <button class="cta">
                  See More
                </button>
              </div>
            </div>
            <div id="wgt-02" class="price position-absolute">
              40%
            </div>
          </div>


          <div class="items position-relative mb-lg-3 col-12 col-lg-4">
            <div class="info d-flex align-items-center">
              <div class="img">
                <img src="assets/images/apartments.png" alt="">
              </div>
              <div class="data" id="wgt-02">
                <div class="title">
                  Jenkins <br /> Apartment
                </div>
                <button class="cta">
                  See More
                </button>
              </div>
            </div>
            <div id="wgt-02" class="price position-absolute">
              40%
            </div>
          </div>


          <div class="items position-relative mb-lg-3 col-12 col-lg-4">
            <div class="info d-flex align-items-center">
              <div class="img">
                <img src="assets/images/apartments.png" alt="">
              </div>
              <div class="data" id="wgt-02">
                <div class="title">
                  Jenkins <br /> Apartment
                </div>
                <button class="cta">
                  See More
                </button>
              </div>
            </div>
            <div id="wgt-02" class="price position-absolute">
              40%
            </div>
          </div>

          <div class="items position-relative mb-lg-3 col-12 col-lg-4">
            <div class="info d-flex align-items-center">
              <div class="img">
                <img src="assets/images/apartments.png" alt="">
              </div>
              <div class="data" id="wgt-02">
                <div class="title">
                  Jenkins <br /> Apartment
                </div>
                <button class="cta">
                  See More
                </button>
              </div>
            </div>
            <div id="wgt-02" class="price position-absolute">
              40%
            </div>
          </div>

          <div class="items position-relative mb-lg-3 col-12 col-lg-4">
            <div class="info d-flex align-items-center">
              <div class="img">
                <img src="assets/images/apartments.png" alt="">
              </div>
              <div class="data" id="wgt-02">
                <div class="title">
                  Jenkins <br /> Apartment
                </div>
                <button class="cta">
                  See More
                </button>
              </div>
            </div>
            <div id="wgt-02" class="price position-absolute">
              40%
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>