<div class="row">
  <div class="col-12">
    <div id="con-ht-01" class="con-section sections">

      <!-- Header -->
      <div class="con-header headers">
        <h2 id="wgt-02" class="color-red">Apartments You Co-Own</h2>
      </div>


      <!-- Content -->
      <div class="con-content contents">

        <div class="con-card" *ngIf="!animatedBg">

          <div class="cards position-relative mb-lg-3 col-12" *ngFor="let property of properties">
            <div *ngIf="!property.isPrivate" class="col-lg-4 col-md-6">
              <div class="info">
                <div class="img">
                  <img src="assets/images/{{property.image}}" alt="">
                </div>
                <div class="data" id="wgt-02">
                  <div class="title py-2">
                    {{property.name | titlecase}}
                  </div>
                  <a data-bs-toggle="modal" href="#display-property" role="button">
                    <button class="cta" (click)="getPropertyId(property.id)">
                      See More
                    </button>
                  </a>
                </div>
              </div>
              <div id="wgt-02" class="price position-absolute px-3 py-2">
                {{property.ROIEstimate}}%
              </div>
            </div>

          </div>

        </div>

        <div id="anime" *ngIf="animatedBg">
          <div class="items mb-4 col-12 col-lg-4 col-md-6">
            <div class="info d-flex align-items-center">
              <div class="img animated-bg animated-bg-text">
              </div>
              <div class="data d-flex align-items-center flex-column">
                <div class="title animated-bg animated-bg-text ">
                </div>
                <div class="title animated-bg animated-bg-text ">
                </div>
                <button class="animated-bg animated-bg-text "></button>
              </div>
            </div>
          </div>

          <div class="items mb-4 col-12 col-lg-4 col-md-6">
            <div class="info d-flex align-items-center">
              <div class="img animated-bg animated-bg-text">
              </div>
              <div class="data d-flex align-items-center flex-column">
                <div class="title animated-bg animated-bg-text ">
                </div>
                <div class="title animated-bg animated-bg-text ">
                </div>
                <button class="animated-bg animated-bg-text "></button>
              </div>
            </div>
          </div>

          <div class="items mb-4 col-12 col-lg-4 col-md-6">
            <div class="info d-flex align-items-center">
              <div class="img animated-bg animated-bg-text">
              </div>
              <div class="data d-flex align-items-center flex-column">
                <div class="title animated-bg animated-bg-text ">
                </div>
                <div class="title animated-bg animated-bg-text ">
                </div>
                <button class="animated-bg animated-bg-text "></button>
              </div>
            </div>
          </div>

          <div class="items mb-4 col-12 col-lg-4 col-md-6">
            <div class="info d-flex align-items-center">
              <div class="img animated-bg animated-bg-text">
              </div>
              <div class="data d-flex align-items-center flex-column">
                <div class="title animated-bg animated-bg-text ">
                </div>
                <div class="title animated-bg animated-bg-text ">
                </div>
                <button class="animated-bg animated-bg-text "></button>
              </div>
            </div>
          </div>

          <div class="items mb-4 col-12 col-lg-4 col-md-6">
            <div class="info d-flex align-items-center">
              <div class="img animated-bg animated-bg-text">
              </div>
              <div class="data d-flex align-items-center flex-column">
                <div class="title animated-bg animated-bg-text ">
                </div>
                <div class="title animated-bg animated-bg-text ">
                </div>
                <button class="animated-bg animated-bg-text "></button>
              </div>
            </div>
          </div>

          <div class="items mb-lg-3 col-12 col-lg-4 col-md-6">
            <div class="info d-flex align-items-center">
              <div class="img animated-bg animated-bg-text">
              </div>
              <div class="data d-flex align-items-center flex-column">
                <div class="title animated-bg animated-bg-text ">
                </div>
                <div class="title animated-bg animated-bg-text ">
                </div>
                <button class="animated-bg animated-bg-text "></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<app-property-modal [data]="data"></app-property-modal>