.con-section .con-content {
  height: 64vh;
}

.con-card .cards img {
  border-radius: .6rem;
  height: 330px;
  width: 100%;
}

.cards .title {
  font-size: 1.4rem;
}

.cards .price {
  top: 30px;
  right: 40px;
  background: #fff;
}

.cta {
  color: #fff;
  font-size: 1rem;
  background: var(--primary-color);
  padding: 6px 18px;
}

/* Sold-Out Styling */
img.sold-out-img {
  filter: brightness(20%);
}

.sold-out-text {
  position: absolute;
  border: 2px white solid;
  color: white;
  padding: 20px 30px;
  font-size: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* Media Queries */
@media (min-width:380px) {
  .con-section .con-content {
    height: 72vh;
  }
}

@media (min-width:400px) {
  .con-section .con-content {
    height: 72vh;
  }
}

@media (min-width: 1200px) {
  .con-section .con-content {
    height: 66vh;
  }
}