<!-- Main Container -->
<div class="main">

  <!-- Token Section -->
  <div class="second rounded">
    <!-- Navigate back -->
    <button class="btn btn-primary m-4" (click)="return()">
      Back
    </button>

    <!-- Header -->
    <div class="header">
      <div class="title mb-3">
        <h1 id="wgt-01" class="color-red">Verify your account</h1>
      </div>

      <div class="prompt">
        <h2>Please enter your password to continue</h2>
      </div>
    </div>



    <!-- Forms  -->
    <form (submit)="onSubmit()">

      <div *ngIf="message" class="message"> {{message}}</div>

      <div class="form-element">
        <input type="password" placeholder="Enter password" [(ngModel)]="credentials.password" name="password"
          (input)="clearMsg()">
      </div>

      <button id="wgt-02" type="submit">Submit</button>

    </form>

  </div>
</div>