/* Main Container */

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main {
  width: 90%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 20px 40px rgb(172, 172, 172);
}



/* Left */
.con-left .left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}



/* Right */
.con-right {
  padding: 40px 20px;
}

.right .title h1 {
  font-size: 2.4rem;
}

.right .prompt {
  padding-top: 20px;
}


/* Forms */
.right form {
  padding: 10px 0;
}

.right form .message {
  background: var(--primary-color);
  padding: 12px 18px;
  color: #fff;
  font-weight: 700;
}

.right form .form-element {
  background: rgb(236, 234, 234);
  margin: 30px 0;
  transition: .4s ease;
}

.right form .form-element input {
  padding: 12px 18px;
  width: 100%;
}

.right form .form-element:focus-within {
  background: #fff;
  border: 1px solid #333;
  padding-left: 10px;
}

.right form button[type="submit"] {
  background: var(--primary-color);
  padding: 12px 18px;
  color: #fff;
  width: 140px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .9rem;
  transition: .25s ease;
}

.right form button[type="submit"]:hover {
  transform: scale(.97);
}


/* Forgot password */
.right .forgot {
  padding: 20px 10px;
}

.right .forgot a {
  color: var(--primary-color);
  font-size: .9rem;
}


/* Directive */
.right .direct {
  padding-left: 24px;
  font-size: 1.4rem;
  color: rgb(41, 40, 40);
  font-weight: 500;
}


/* Google Sign In */
.right .con-google {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(66, 133, 244);
  margin-top: 20px;
}

.right .con-google .google-icon {
  border: 1px solid rgb(66, 133, 244);
}

.right .con-google .con-btn {
  color: #fff;
  width: 100%;
  text-align: center;
  cursor: pointer;
}



/* Media Queries */
@media (min-width: 992px) {

  /* Main Container */
  .main {
    grid-template-columns: repeat(2, 1fr);
    height: unset;
  }


  /* Right */
  .con-right {
    padding: 60px 30px;
  }


  /* Forms */
  .right form {
    padding: 0;
  }


  /* Forgot password  */
  .right .forgot {
    text-align: right;
    padding: 0;
  }


  /* Directive */
  .right .direct {
    font-size: 1.2rem;
  }

}