<div class="main-container">

  <!-- Main Container -->
  <div class="main rounded">


    <!-- Left -->
    <div class="con-left d-none d-lg-block">
      <div class="left">
        <img src="assets/images/login-backgorund.png" alt="">
      </div>
    </div>


    <!-- Right -->
    <div class="con-right">
      <div class="right">

        <div class="header">
          <div class="title">
            <h1 id="wgt-01">Sign in to</h1>
            <h1 id="wgt-01" class="color-red">Onebrick</h1>
          </div>
          <div class="prompt">
            <p id="wgt-0" class="">Not a member? Please
              <a routerLink="/register" class="color-red">register</a>
              first.
            </p>
          </div>
        </div>

        <!-- Forms  -->
        <form (submit)="onSubmit()">

          <div *ngIf="message" class="message"> {{message}}</div>


          <div class="form-element">
            <input type="email" placeholder="Email" [(ngModel)]="credentials.email" name="email" (input)="clearMsg()">
          </div>

          <div class="form-element">
            <input type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password"
              (input)="clearMsg()">
          </div>

          <button id="wgt-02" type="submit" class="buttonload">
            <span *ngIf="!animate">Login</span>
            <i *ngIf="animate" i class="fa fa-circle-o-notch fa-spin"></i>
          </button>


        </form>

        <!-- Forgot password -->
        <div class="forgot">
          <a routerLink="/recover-account" id="wgt-03">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>

</div>