<div class="main-container">

  <!-- Main Container -->
  <div class="main rounded">

    <!-- Left -->
    <div class="con-left d-none d-lg-block">
      <div class="left">
        <img src="assets/images/login-backgorund.png" alt="">
      </div>
    </div>

    <!-- Right -->
    <div class="con-right">
      <div class="right">
        <div class="header">
          <div class="title">
            <h1 id="wgt-01">Sign up for</h1>
            <h1 id="wgt-01" class="color-red">Onebrick</h1>
          </div>
          <div class="prompt">
            <p id="wgt-0" class="">Already have an account? Please
              <a routerLink="/login" class="color-red">login</a>.
            </p>
          </div>
        </div>

        <!-- Forms  -->
        <form (submit)="onSubmit()">

          <div *ngIf="message" class="message"> {{message}}</div>

          <div class="flex">
            <div class="form-element">
              <input type="text" placeholder="Name" [(ngModel)]="credentials.name" name="name" (input)="clearMsg()">
            </div>

            <div class="form-element">
              <input type="email" placeholder="Email" [(ngModel)]="credentials.email" name="email" (input)="clearMsg()">
            </div>
          </div>

          <div class="flex">
            <div class="form-element">
              <input type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password"
                (input)="clearMsg()">
            </div>

            <div class="form-element">
              <input type="password" placeholder="Confirm password" [(ngModel)]="credentials.password2" name="password2"
                (input)="clearMsg()">
            </div>
          </div>

          <button id="wgt-02" type="submit" class="buttonload">
            <span *ngIf="!animate">sign up</span>
            <i *ngIf="animate" i class="fa fa-circle-o-notch fa-spin"></i>
          </button>

        </form>
      </div>
    </div>


  </div>

</div>