<div *ngIf="notVerified">
  <app-verify-password (data)="displayChild($event)"></app-verify-password>
</div>

<div *ngIf="!notVerified">

  <!-- Main Container -->
  <div class="main">

    <!-- Token Section -->
    <div class="second rounded">
      <!-- Navigate back -->
      <button class="btn btn-primary m-4" (click)="return()">
        Back
      </button>

      <!-- Header -->
      <div class="header">
        <div class="title mb-3">
          <h1 id="wgt-01" class="color-red">Update your Password</h1>
        </div>

        <!-- <div class="prompt">
        <h2>Please enter your password to continue</h2>
      </div> -->
      </div>



      <!-- Forms  -->
      <form (submit)="onSubmit()">

        <div *ngIf="message" class="message"> {{message}}</div>

        <div class="form-element">
          <input type="password" placeholder="Enter new password" [(ngModel)]="credentials.password" name="password"
            (input)="clearMsg()">
        </div>

        <div class="form-element">
          <input type="password" placeholder="Confirm password" [(ngModel)]="credentials.password2" name="password2"
            (input)="clearMsg()">
        </div>

        <button id="wgt-02" type="submit">Submit</button>

      </form>

    </div>
  </div>

</div>