/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400..900&display=swap');

:root {
  --primary-color: #ca2233;
  --ash-color-01: #e9e8e8;
  --ash-color-02: rgb(241, 237, 237);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  color: inherit;
  list-style: none;
  text-decoration: none !important;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.color-red {
  color: var(--primary-color);
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: var(--ash-color-02);
  cursor: pointer;
}

.btn-block+.btn-block {
  margin-top: 0;
}

input {
  background: unset;
}

button {
  background: unset;
}

p {
  margin-bottom: .6rem;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 16px;
}

.button-01 {
  font-weight: 700;
  padding: 10px 26px;
  border-radius: .5rem;
  margin-right: 20px;
  color: var(--primary-color);
  background: var(--ash-color-01);
}

.button-02 {
  font-weight: 700;
  padding: 10px 26px;
  border-radius: .5rem;
  margin-right: 20px;
  background: var(--primary-color);
  color: #fff;
}

.button-01:hover {
  color: var(--primary-color);
}

.button-02:hover {
  color: #fff;
}

.buttonload i.fa{
  font-size: 1.2rem;
}

#wgt-01 {
  font-weight: 900;
}

.wgt-01 {
  font-weight: 900;
}

#wgt-02 {
  font-weight: 700;
}

.wgt-02 {
  font-weight: 700;
}

#wgt-03 {
  font-weight: 500;
}

.wgt-03 {
  font-weight: 500;
}

#con-ht-01 {
  height: 83vh;
  border-radius: 1.4rem;
  padding: 20px 18px;
}


.animated-bg {
  background-image: linear-gradient(to right,
      #f6f7f8 0%,
      #edeef1 10%,
      #f6f7f8 20%,
      #f6f7f8 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 20px;
  display: inline-block;
  margin: 0;
  height: 20px;
  width: 100%;
}

.message {
  background: var(--primary-color);
  padding: 12px 0;
  color: #fff;
  width: 80%;
  font-weight: 700;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}


/* Sections Content*/
.con-section.sections {
  background: #fff;
}

.con-section .con-header.headers {
  margin-bottom: 30px;
}

.con-section .con-content.contents {
  overflow-y: auto;
  overflow-x: hidden;
  height: 78vh;
}


/* Card Items within a Con Card */
.con-card#con-card {
  padding: 0 20px;
}

.con-card#con-card .items {
  padding: 0;
}

.con-card#con-card .items .price {
  top: 12px;
  left: 30px;
  padding: 8px 10px;
  background: #fff;
  color: var(--primary-color);
}

.con-card#con-card .info .img {
  width: 200px;
  height: 200px;
}

.con-card#con-card .info .data {
  margin-left: 10px;
  font-size: 1.4rem;
}

.con-card#con-card .info .data .cta {
  color: #fff;
  font-size: 1rem;
  background: var(--primary-color);
  padding: 6px 18px;
}

.con-card#con-card .info .img img {
  border-radius: 1rem;
}

.con-card#con-card a.button {
  padding: 12px 60px;
  color: #fff;
  background: var(--primary-color);
}



/* Media Queries */
@media (min-width: 992px) {
  #con-ht-01 {
    height: 87vh;
  }

  .con-section .con-content.contents {
    height: 72vh;
  }
}

@media (min-width: 1200px) {
  #con-ht-01 {
    height: 80vh;
    /* padding: 40px 30px; */
  }

  .con-section .con-content.contents {
    height: 72vh;
  }
}