/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400..900&display=swap');

:root {
  --primary-color: rgb(206, 16, 16);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  color: inherit;
  list-style: none;
  text-decoration: none !important;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.color-red {
  color: var(--primary-color);
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

input {
  background: unset;
}

button {
  background: unset;
}

#wgt-01 {
  font-weight: 900;
}

#wgt-02 {
  font-weight: 700;
}

#wgt-03 {
  font-weight: 500;
}
