<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu tree" data-widget="tree">

      <!-- OVERVIEW -->
      <li>
        <a routerLinkActive='active' routerLink="/dashboard/overview">
          <i class="fas fa-spa sidebar-icon"></i>
          <span>Overview</span>
        </a>
      </li>

      <!-- PROPERTIES -->
      <li *ngIf="checkAdmin()">
        <a routerLinkActive='active' routerLink="/dashboard/properties">
          <i class="fa-solid fa-door-closed sidebar-icon"></i>
          <span>Properties</span>
        </a>
      </li>

      <!-- TRANSACTIONS -->
      <li *ngIf="checkSuper()">
        <a routerLinkActive='active' routerLink="/dashboard/transactions">
          <i class="fa-solid fa-bag-shopping sidebar-icon"></i>
          <span>Transactions</span>
        </a>
      </li>

      <!-- ALL USERS -->
      <li *ngIf="checkSuper()">
        <a routerLinkActive='active' routerLink="/dashboard/users">
          <i class="fa-solid fa-users sidebar-icon"></i>
          <span>Users</span>
        </a>
      </li>

      <!-- RESPOND TO USER REQUESTS -->
      <li *ngIf="checkAdmin()">
        <a routerLinkActive='active' routerLink="/dashboard/user/requests">
          <i class="far fa-file-alt sidebar-icon"></i>
          <span>Requests</span>
        </a>
      </li>

      <!-- CO-OWN -->
      <li *ngIf="checkUser()">
        <a routerLinkActive='active' routerLink="/dashboard/co-own">
          <i class="fa-solid fa-people-arrows-left-right sidebar-icon"></i>
          <span>Co Own</span>
        </a>
      </li>

      <!-- MAKE A REQUEST -->
      <li *ngIf="checkUser()">
        <a routerLinkActive='active' routerLink="/dashboard/requests">
          <i class="far fa-file-alt sidebar-icon"></i>
          <span>Request</span>
        </a>
      </li>

      <!-- PROFILE -->
      <li>
        <a routerLinkActive='active' routerLink="/dashboard/profile">
          <i class="far fa-user-circle sidebar-icon"></i>
          <span>My Profile</span>
        </a>
      </li>
    </ul>

  </section>
</aside>